              <!DOCTYPE html>
							<html>
								<head>
                  <title>About Me</title>
                  <style>
                  table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                  }
                  th, td {
                    padding: 5px;
                    text-align: left;
                  }
                </style>
								</head>
								<body>
								<p>I'm from Saudi Arabia, I play the guitar and I love practicing martial arts.<br>
                  I'm studying Computer engineering because I have always been interested in computers and programming. I always wanted my career
                to be computer related work.</p>
                <h2>My Professional Profile</h2>
                <a href="https://github.com/Yousefalabdulhadi">GitHub account</a>
                <br>
                <img src="E:\CSCI 3308\Lab_Website_6\resources\img\profile_pic.jpg" alt="Profile Pic" width="500" height="700">
                <h3>My Favorite Projects</h3>
                <table>
                <tr>
                <th>Name of the Project</th>
                <th>Technologies Used</th>
                </tr>
                <tr>
                  <td>EFM32PG</td><td>C, Silicon Labs</td>
                </tr>
                <tr>
                  <td>Find me</td><td>Android Studio, Java</td>
                </tr>
                <tr>
                  <td>Maze Robot</td><td>C, Arduino</td>
                </tr>
                </table>
                <h4>Interests</h4>
                <ul>
                  <li>Gaming</li>
                  <li>Music</li>
                  <li>Writing</li>
                </ul>
								</body>
							</html>
